body {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* #bubble-chart {
    background: url("./assets/images/OVER-9000_thumb.gif");
    background-repeat: no-repeat;
    background-size: cover;
} */



text {
    text-anchor: middle;
    font: 14px sans-serif;
    font-weight: 600;
    pointer-events: none;
    opacity: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

circle {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: auto;
}



img {
    width: 200px;
}

a {
    color: #FFF;
    font-weight: bold;
    display: block;
}

span {
    display: flex;
    align-content: center;
    text-align: center;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
}

.HunterxHunter { background: #9370D8 }
.MyHeroAcademia { background: #1C88C7; }
.DragonBallZ { background: #FCC700; }
.OnePunchMan { background: #228B22; }
.Naruto { background: #F16529; }


.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #111;
    display: flex;
    font-family: sans-serif;
    max-width: 500px;
    
    
}

.tooltip div {
    padding: 10px;
    
}