@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

.modal {
  display: none;
}

.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: url("../images/ITSOVER9000.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.modal-text {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  background-color:rgba(196, 60, 116, 0.69);
  border-radius: 15px;
  box-shadow: 0 0 0.625rem 0 rgba(59, 247, 35, 0.8);
  padding: 20px;
  text-align: center;
}

.modal-title {
  font-family: 'Wallpoet', sans-serif;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(102, 201, 102);  
  text-shadow: 4px 2px #000000;
  margin-top: auto;
}

.modal-text > h2 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding: 0px 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.modal-text > p {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  padding: 0px 30px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.middle-text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  padding: 0px 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.end-text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  padding: 0px 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.modal-close {
  border: none;
  color: white;
  background-color:rgba(66, 64, 64, 0.5);
  /* background-color: #66b6a0; */
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: bold;
  transition: all .6s ease;
  margin-top: 20px;
  width: 30%;
  letter-spacing: 1px;
}

.modal-close:hover {
  cursor: pointer;
  color:rgb(230, 82, 144);
  font-weight: bold;
  background-color: #3ead34;
  border: 1px solid rgba(0, 0, 0, 0.7);
  transition: all .7s ease;
  
}